*{
  font-family: 'Poppins', sans-serif;
}
.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login-bg{
  filter: brightness(0.7);
}

.input-wrapper{

  position: relative;
}

.input-style{
  transition: 0.6s;
  font-size: 14px;
  color: #111;
  font-weight: 400;
  position: relative;
}
.input-style::placeholder{
  font-size: 13px;
  color: rgb(202, 202, 202);
}


.input-style:focus-visible{
  border: 1px solid purple !important;

}

.input-style:focus + label,
.input-style:valid + label {
  position: absolute;
  top: -20px;
  font-size: 12px;
}

.text-label{
  position: absolute;
  pointer-events: none;
  top: 9px;
  left: 8px;
  transition: all 0.1s ease;
  z-index: 1;

}

.error-msg{
  font-size: 11px;
  position: absolute ;
  transition: 0.6s;
}

button{
  font-size: 16px;
  font-weight: 400;
  transition: 0.3s;
}

.hr-line{
  width: 60%;
  border-top:1px solid #e0dede ;
  position: relative;
}

.continue-label{
  position: absolute;
  left: 21%;
  top: -11px;
  font-size: 13px;
  padding: 0px 5px ;
  background-color: white;
}

.login_container{
  box-shadow: 0 8px 20px #4600463b;

}